.content.row
	- @articles.order(id: :desc).each do |article|
		- if user_signed_in? && article.author_id == current_user.id
			.post.col.s12
				.title.row
					%h4.col.m10.offset-m1.s12
						- if article.visible == true
							= link_to article.title, article_path(article)
						- else
							= link_to article.title, edit_article_path(article)
					- if article.visible == false
						%h6.col.m10.offset-m1.s12
							Не опубликовано
					.tags_articles.col.m10.s12.offset-m1
						= raw article.tags.map(&:name).map{ |t| link_to t, tag_path(t)}.join(' ')
				.text.row
					.links.col.m10.s12.offset-m1
						.date.right
							%span
								= article.created_at.to_date.strftime("%d.%m.%Y")
						.left
							- if article.visible == true
								= link_to 'Читать', article_path(article)
								|
							- if user_signed_in? && article.author_id == current_user.id
								= link_to 'Удалить', article_path(article), method: :delete, data: { confirm: 'Вы уверены?'}
								|
								= link_to 'Изменить', edit_article_path(article)